<!DOCTYPE html>
<html lang="sq">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formë për Blerësin</title>
    <link rel="stylesheet" href="/components/shitesi/shitesi.css">
    <script src="/components/shitesi/shitesi.js"></script>
</head>

<body>
    <div class="form-container">
        <h2>Formë për Blerësin</h2>
        <form id="bleresiForm" action="/submit" method="POST">
            <label for="emri">Emri:</label>
            <input type="text" id="emri" name="emri" required>

            <label for="mbiemri">Mbiemri:</label>
            <input type="text" id="mbiemri" name="mbiemri" required>

            <label for="makina">Makina që ka shitur:</label>
            <input type="text" id="makina" name="makina" required>

            <a href="https://www.motor1.com/news/677776/porsche-911-turbo-s-mansory-body-kit-900-hp/" target="_blank">
                <img src="https://cdn.motor1.com/images/mgl/ZxVYg/s1/porsche-911-turbo-s-mansory-body-kit.jpg"
                    alt="Porsche 911 Turbo S Mansory" style="width: 100px; height: auto;">
            </a>

            <button type="submit">Dërgo</button>
        </form>
    </div>


</body>

</html>