<!DOCTYPE html>
<html lang="sq">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raporti</title>
    <link rel="stylesheet" href="/components/raporti/raporti.css">
    <script src="/components/raporti/raporti.js"></script>
</head>

<body>

    <div class="container">
        <h2>Raporti</h2>

        <table>
            <thead>
                <tr>
                    <th>Emri i Kompanisë</th>
                    <th>Çmimi i Blerjes (EUR)</th>
                    <th>Emri i Shitësit</th>
                    <th>Çmimi i Shitjes (EUR)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>Kompania A</td>
                    <td>25,000</td>
                    <td>Shitësi A</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Kompania B</td>
                    <td>32,000</td>
                    <td>Shitësi B</td>
                    <td>35,000</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>